
.centered {
    text-align: center;
}

#wpcontent {
    background-color: white;
}

.nav > li > a {
    display: block;
    padding: 10px;
    position: relative;
}

.form-table th {
    font-weight: normal;
}

.form-table input[type='text'], .form-table select {
    width: 100%;
}

.form-table textarea {
    min-width: 300px;
    width: 100%;
}

.lodgix_options_table th {
    width: 70%;
    text-align: left;
}

.ldgxAdminRight {
	/*float: right;*/
    text-align: left;
	width: 250px;
}

.lodgix_properties {
    width: 70%;
}

.lodgix_postbox {
    padding: 10px;
}

#lodgix_processing_message {
    font-weight: bold;
    margin-bottom: 10px;
}

.ldgxAdminBox {
	margin-bottom: 20px;
	border: solid 1px #ccc;
	border-radius: 10px;
	border-top-left-radius: 0;
	-webkit-border-radius: 10px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 10px;
	-moz-border-radius-topleft: 0;
	padding: 10px;
	background: #eee;
}

.lodgix-tryit a {
    background: none repeat scroll 0 0 #f4b513;
    border-radius: 2px;
    color: #fff !important;
    display: block;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 10px;
    padding: 21px 0 16px;
    text-align: center;
    text-transform: uppercase;
    width: 270px;
}
.lodgix-tryit a:hover {
    background: none repeat scroll 0 0 #0084bf;
    text-decoration: none;
}

.lodgix-tryit h2 {
    color: #fff;
    font-family: "Signika",sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

.ldgxAdminBox p {
	clear: both;
}

.ldgxAdminAvatar {
	float: left;
	margin: 0 10px 10px 0;
}

.ldgxAdminRateButton {
	background-color: #7fbf4d;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
	background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
	backgroundimage: -ms-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
	background-image: linear-gradient(top, #7fbf4d, #63a62f);
	border: 1px solid #63a62f;
	border-bottom: 1px solid #5b992b;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #96ca6d;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	line-height: 1;
	padding: 6px;
	text-align: center;
	text-shadow: 0 -1px 0 #4c9021;
	min-width: 70px;
}

.ldgxAdminRateButton:hover {
	background-color: #76b347;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
	background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
	background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
	background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
	background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
	background-image: linear-gradient(top, #76b347, #5e9e2e);
	-webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
	-moz-box-shadow: inset 0 1px 0 0 #8dbf67;
	box-shadow: inset 0 1px 0 0 #8dbf67;
	cursor: pointer;
}



.ldgxAdminRateButton:active {
	border: 1px solid #5b992b;
	border-bottom: 1px solid #538c27;
	-webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
	-moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}


#subscriber p {
    font-size: 14px;
}


